include ../includes/head.pug
block links 
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/auth.css")
include ../includes/navigation.pug

main
    h1.centered.optware-green #{pageTitle}
    p.centered.optware-blue Hurry up!!!!
    form(class="login-form" id="login_form" action="/login", method="post")
        .form-control
            label(for="email") Email
            input(id="email" type="email" name="email" placeholder="Email")
        .form-control
            label(for="password") Password
            input(id="password" type="password" name="password" placeholder="Password")
        button(class="btn" type="submit") Login

include ../includes/end.pug
block scripts