include ../includes/head.pug
block links 
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/auth.css")
include ../includes/navigation.pug

main
    h1.centered.optware-green #{pageTitle}
    p.centered.optware-blue Noch nicht dabei? Wasss!!!!!!????
    form(class="login-form" action="/signup" method="post")
        .form-control
            label(for="name") Name
            input(id="name" name="name" placeholder="Name")
        .form-control
            label(for="email") Email
            input(id="email" type="email" name="email" placeholder="Email")
        .form-control
            label(for="password") Password
            input(id="password" type="password" name="password" placeholder="Password")
        .form-control
            input(id="confirmPassword" type="password" name="confirmPassword" placeholder="Password wiederholen")
        button(class="btn" type="submit") Signup

include ../includes/end.pug
