.user-list {
    margin: auto;
    border: 0px;
}

tr.table-header-row {
    background-color: #003399;
    color: #ffffff;
}

tr.table-content-row-1 {
    background-color: rgb(152, 204, 2, 0.9);
}

tr.table-content-row-2 {
    background-color: rgb(152, 204, 2, 0.6);
}

table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 0;
    border-spacing: 3px;
}

th,
td {
    padding: 5px 15px;
    text-align: left;
}
